<ion-view title="Calendario de Ingreso" id="page179">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/MXO3GVYtSEOKyBwaPngB_Calendariodeingreso.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Acto de Bienvenida</span>
      </h4>
      <p>Durante la primera semana de clases del cursillo de ingreso se realiza el acto de bienvenida, donde se presentan las autoridades y los profesores con quienes iniciarán el cursado, el mismo se lleva a cabo un día para cada grupo de carreras según
        el Dpto. Académico al que pertenecen. Este acto se realiza generalmente en la Sala Académica y se confirmara el cronograma cuando este por iniciar el cursado.</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" href-inappbrowser="https://www.google.com.ar/maps/place/Sala+Acad%C3%A9mica/@-29.4291177,-66.8724919,19z/data=!4m5!3m4!1s0x9427db9740e2c449:0xf733d5e11ff0511a!8m2!3d-29.4291446!4d-66.8720198">
        <img src="img/LwpQDC6WQsqi1Lfp1vRm_SalaAcademica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a href-inappbrowser="https://www.google.com.ar/maps/place/Sala+Acad%C3%A9mica/@-29.4291177,-66.8724919,19z/data=!4m5!3m4!1s0x9427db9740e2c449:0xf733d5e11ff0511a!8m2!3d-29.4291446!4d-66.8720198" id="calendarioDeIngreso-button63" style="border-radius:10px 10px 10px 10px;"
      class="button button-energized button-block">Ubicación de la Sala</a>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>