<ion-view title="Certificado de Alumno Inscripto" id="page49">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Certificado de Alumno Inscripto</strong>
        </span>
      </h4>
      <p>Debes solicitarlo en la Oficina de Alumnos, ubicada al lado de biblioteca.</p>
      <p>Horarios: Lunes a viernes de 08:00 a 13:00 hs y de 15:00 a 20:00 hs.</p>
      <p>Para recibirlo debes estar inscripto a la carrera, cursando 2 materias como mínimo.</p>
    </div>
    <a href-inappbrowser="https://www.google.com.ar/maps/place/Oficina+de+Alumnos/@-29.4304681,-66.8694018,18z/data=!4m12!1m6!3m5!1s0x9427db2b132b33bd:0xb702c69110e0c2ce!2sOficina+de+Alumnos!8m2!3d-29.4304695!4d-66.8687696!3m4!1s0x9427db2b132b33bd:0xb702c69110e0c2ce!8m2!3d-29.4304695!4d-66.8687696?hl=es-419&amp;authuser=0"
      id="certificadoDeAlumnoInscripto-button56" style="border-radius:10px 10px 10px 10px;" class="button button-energized button-block">Ubicación de la Oficina</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>