<ion-view title="Certificado de Alumno Regular" id="page48">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Certificado de Alumno Regular</strong>
        </span>
      </h4>
      <p>Debes descargarlo desde el SIU Guaraní, haciendo clic en el menú de “Tramites/solicitud de Certificados” y seleccionando “Certificado de Alumno Regular”.</p>
      <p>Para poder recibirlo debes tener como mínimo dos finales aprobados (periodo de Mayo a Mayo).</p>
    </div>
    <a href-inappbrowser="https://guarani.unlar.edu.ar/" id="certificadoDeAlumnoRegular-button55" style="border-radius:10px 10px 10px 10px;" class="button button-energized button-block">Acenso SIU Guaraní</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>