<ion-view title="CineClub Universitario" id="page81">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/NC9ZIdbaSup9G8LC2QPn_CineClubUNLaR.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>Todos los martes y jueves a las 21hs. en la Sala Azul del MicroCine</strong>
        </span>
      </h4>
      <p>
        <span style="color: #000080;">&nbsp;</span>
      </p>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>**Entrada libre y gratuita.*</strong>
          <strong>*</strong>
        </span>
      </h4>
    </div>
    <a href-inappbrowser="https://www.google.com.ar/maps/place/Microcines+UNLaR/@-29.4300737,-66.8685546,120m/data=!3m1!1e3!4m12!1m6!3m5!1s0x9427dbd07b73eb6f:0xc0bfa00dd54479c5!2sUniversidad+Nacional+de+La+Rioja!8m2!3d-29.4299009!4d-66.8687706!3m4!1s0x0:0x8c3f0cf91c97eecd!8m2!3d-29.4299135!4d-66.8684437?hl=es-419&amp;authuser=0"
      id="cineClubUniversitario-button10" style="font-style:italic;border-radius:10px 10px 10px 10px;" class="button button-energized button-block icon ion-location"> Ubicación del Microcine</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>Cartelera Agosto</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <hr>
      <p style="text-align: left;">
        <span style="color: #000080;">
          <strong>Martes 13:&nbsp;2001: Odisea del espacio</strong>
        </span>
      </p>
      <p>
        <span style="color: #000080;">
          <strong>Sinopsis:&nbsp;</strong>
        </span>
        <span style="color: #000000;">La película de ciencia-ficción por excelencia de la historia del cine narra los diversos periodos de la historia de la humanidad, no sólo del pasado, sino también del futuro. Hace millones de años, antes de la aparición del "homo sapiens", unos
          primates descubren un monolito que los conduce a un estadio de inteligencia superior. Millones de años después, otro monolito, enterrado en una luna, despierta el interés de los científicos. Por último, durante una misión de la NASA, HAL 9000,
          una máquina dotada de inteligencia artificial, se encarga de controlar todos los sistemas de una nave espacial tripulada.</span>
      </p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #333399;">
          <strong>Jueves 15: Estado de gracia</strong>
        </span>
      </p>
      <p>
        <span style="color: #333399;">
          <strong>Sinopsis:&nbsp;</strong>
          <span style="color: #000000;">Tras diez años de ausencia, Terry Noonan (Sean Penn) regresa al conflictivo barrio de Hell's Kitchen, en Nueva York, e ingresa en un grupo mafioso irlandés. El jefe de la banda es Frankie Flannery (Ed Harris); para él trabajan algunos amigos
            de la infancia de Terry y también Jackie (Gary Oldman), el exaltado hermano de Frankie. Al entrar en la banda, renacen los sentimientos de Noonan por Kathleen (Robin Wright), la hermana de los Flannery.</span>
        </span>
      </p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #000080;">
          <strong>Martes 20:&nbsp;Full Metal Jacket</strong>
        </span>
      </p>
      <p>
        <strong>
          <span style="color: #000080;">Sinopsis:</span>
        </strong>&nbsp;Un grupo de reclutas se prepara en Parris Island, centro de entrenamiento de la marina norteamericana. Allí está el sargento Hartman, duro e implacable, cuya única misión en la vida es endurecer el cuerpo y el alma de los novatos, para que
        puedan defenderse del enemigo. Pero no todos los jóvenes están preparados para soportar sus métodos.&nbsp;</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #333399;">
          <strong>Jueves 22: Punto límite</strong>
        </span>
      </p>
      <p>
        <span style="color: #333399;">
          <strong>Sinopsis:&nbsp;</strong>
          <span style="color: #000000;">Johnny Utah (Keanu Reeves), un joven agente del FBI, se infiltra en los ambientes del surf para desenmascarar a una banda de atracadores que, como sello de identidad, usan caretas de presidentes de los Estados Unidos durante sus golpes. Pero
            Johnny pronto se encapricha de la guapa Tyler (Lori Petty) y, además, conoce a Bodhi (Patrick Swayze), el jefe de la banda, un hombre que vive al límite y que acaba ejerciendo una gran influencia sobre el joven policía.</span>
        </span>
      </p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #000080;">
          <strong>Martes 27:&nbsp;Eyes Wide Shut</strong>
        </span>
      </p>
      <p>
        <span style="color: #000080;">
          <strong>Sinopsis:</strong>&nbsp;</span>William Harford es un respetable médico neoyorquino cuya vida parece ir muy bien: está casado con una preciosa mujer, tiene una hija y tiene un trabajo que le gusta. Pero, al día siguiente de asistir a una fiesta,
        su esposa Alice le habla de unas fantasías eróticas y de cómo estuvo a punto de romper su matrimonio por un desconocido. Abrumado por esta confesión, acaba entrando en un local, donde un antiguo compañero le habla de una congregación secreta dedicada
        al hedonismo y al placer sin límites. A partir de entonces un mundo dominado por el sexo y el erotismo se abre ante él.</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #333399;">
          <strong>Jueves 29:&nbsp;Fuego contra fuego</strong>
        </span>
      </p>
      <p>
        <span style="color: #333399;">
          <strong>Sinopsis:&nbsp;</strong>
          <span style="color: #000000;">Neil McCauley (Robert De Niro) es un experto ladrón. Su filosofía consiste en vivir sin ataduras ni vínculos que puedan constituir un obstáculo si las cosas se complican. Su banda la forman criminales profesionales tan cualificados que pueden
            incluso impresionar al detective Vincent Hanna (Al Pacino), un hombre que vive tan obsesionado con su trabajo que llega a poner en peligro su vida sentimental. Cuando la banda de McCauley prepara el golpe definitivo, y el equipo de Hannah
            se dispone a evitarlo, cada uno de ellos comprende que tiene que vérselas con la mente más brillante a la que se ha enfrentado en su carrera.&nbsp;</span>
        </span>
      </p>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>