<ion-view title="Deporte y Cultura" id="page40">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/4rHwH286R7u2enjXoM8Q_deporte-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <em>
          <strong>La UNLaR busca mejorar la salud, la calidad de vida y la formación integral de los miembros de la comunidad universitaria, mediante la propuesta constante de distintas actividades deportivas y culturales.</strong>
        </em>
      </p>
      <p>&nbsp;</p>
      <h4>ACTIVIDADES DEPORTIVAS Y CULTURALES EN LA UNLaR PARA ESTE 2° CUATRIMESTRE</h4>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff0000;">GIMNASIO</span>
      </h4>
      <p>NORBERTO BURELA</p>
      <p>Lunes a Viernes 08:30 a 12:30 hs.</p>
      <p>MAXIMILIANO ATENCIO</p>
      <p>Lunes a Viernes 18:00 a 22:00 hs.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff0000;">HOCKEY</span>
      </h4>
      <p>MARIANA FUNES</p>
      <p>Lunes - Miércoles 22:00 hs. Parq. Cuidad</p>
      <p>JOHANA CARRIZO</p>
      <p>Martes - Jueves 19:00 hs. UNLaR</p>
      <p>Lunes - Miércoles 19:00 - 21:00 hs. Poli Vargas</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff0000;">TENIS</span>
      </h4>
      <p>MARCELO AGUIRRE</p>
      <p>Lunes - Miércoles - Viernes</p>
      <p>20:00 a 21:00 hs. (Avanzados) UNLaR</p>
      <p>Lunes - Miércoles - Viernes</p>
      <p>21:00 a 22:00 hs. (Principiantes) UNLaR</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff0000;">FUTBOL FEMENINO</span>
      </h4>
      <p>JUAN BARROS</p>
      <p>Lunes - Jueves - Viernes</p>
      <p>19:30 a 21:30 hs. UNLaR</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff0000;">FUNCIONAL</span>
      </h4>
      <p>SERGIO NEIRA</p>
      <p>Lunes - Miércoles - Viernes</p>
      <p>19:30 - 21:30 hs.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff0000;">CANTO</span>
      </h4>
      <p>RAUL MILLICAY</p>
      <p>Lunes - Miércoles</p>
      <p>20:00 a 22:00 hs. C.U.E.R.D.A.</p>
      <p>&nbsp;</p>
      <h4>
        <strong>
          <span style="color: #ff0000;">FOLCLORE</span>
        </strong>
      </h4>
      <p>FLORENCIA PERNAS</p>
      <p>Martes - Jueves</p>
      <p>20:00 a 22:00 hs. C.U.E.R.D.A.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #0000ff;">REQUISITOS</span>
      </h4>
      <p>* ELECTROCARDIOGRAMA CON INFORME</p>
      <p>* FOTOCOPIA LIBRETA O CERTIFICADO ALUMNO</p>
      <p>* FOTO 4X4</p>
      <p>* COMPROBANTE DE PAGO FUNLaR</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #0000ff;">COSTOS</span>
      </h4>
      <p>► Estudiantes $100</p>
      <p>► Docentes - Graduados - Nodocentes $200</p>
      <p>► Particulares $300</p>
      <div id="js_8m" class="_5pbx userContent _3576" data-testid="post_message" data-ft="{&quot;tn&quot;:&quot;K&quot;}">
        <p>&nbsp;</p>
        <p>
          <em>Para más información dirigirse a Sec. de Extensión en el 1° piso del 1° Modulo de la UNLaR.</em>
        </p>
      </div>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>