<ion-view title="ExpoCarreras" id="page177">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/TB8CuXU4Tg2QtexQpj2W_ExpoCarreras.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="expoCarreras-list16">
      <ion-item class="item-icon-left energized" id="expoCarreras-list-item101" ui-sref="gUAUNLaR.ofertaAcadMica()">
        <i class="icon ion-android-arrow-dropright-circle"></i>Oferta Académica</ion-item>
      <ion-item class="item-icon-left energized" id="expoCarreras-list-item99" ui-sref="gUAUNLaR.requisitosDeIngreso()">
        <i class="icon ion-android-arrow-dropright-circle"></i>Requisitos</ion-item>
      <ion-item class="item-icon-left energized" id="expoCarreras-list-item104" ui-sref="gUAUNLaR.calendarioDeIngreso()">
        <i class="icon ion-android-arrow-dropright-circle"></i>Calendario de Ingreso</ion-item>
      <ion-item class="item-icon-left energized" id="expoCarreras-list-item103" ui-sref="gUAUNLaR.beneficios()">
        <i class="icon ion-android-arrow-dropright-circle"></i>Beneficios</ion-item>
      <ion-item class="item-icon-left energized" id="expoCarreras-list-item105" ui-sref="gUAUNLaR.reglamentoDeEstudiantes()">
        <i class="icon ion-android-arrow-dropright-circle"></i>Reglamento de Estudiantes</ion-item>
      <ion-item class="item-icon-left energized" id="expoCarreras-list-item130" ui-sref="gUAUNLaR.mapasUNLaR()">
        <i class="icon ion-android-arrow-dropright-circle"></i>Mapa Ciudad Universitaria</ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>