<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;background: url(img/6xEW7bZ0QBmZGZnv3SNm_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="side-menu-left ">
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <img src="img/cmz74GzFTTGzs5qwoyEn_LogoGuiaUNLaR512.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="gUAUNLaR-list1">
        <ion-item class="item-icon-left dark" id="gUAUNLaR-list-item1" ui-sref="gUAUNLaR.inicio()" menu-close="">
          <i class="icon ion-home"></i>Inicio</ion-item>
        <ion-item class="item-icon-left dark" id="gUAUNLaR-list-item84" ui-sref="gUAUNLaR.ingresantes()" menu-close="">
          <i class="icon ion-android-contacts"></i>Ingresantes</ion-item>
        <ion-item class="item-icon-left dark" id="gUAUNLaR-list-item85" ui-sref="gUAUNLaR.estudiantes()" menu-close="">
          <i class="icon ion-document-text"></i>Estudiantes</ion-item>
        <ion-item class="item-icon-left dark" id="gUAUNLaR-list-item86" ui-sref="gUAUNLaR.graduados()" menu-close="">
          <i class="icon ion-university"></i>Graduados</ion-item>
        <ion-item class="item-icon-left dark" id="gUAUNLaR-list-item83" ui-sref="gUAUNLaR.noticias()" menu-close="">
          <i class="icon ion-social-rss"></i>Noticias</ion-item>
        <ion-item class="item-icon-left dark" id="gUAUNLaR-list-item3" ui-sref="gUAUNLaR.acercaDeLaApp()" menu-close="">
          <i class="icon ion-ios-loop-strong"></i>Acerca de la App</ion-item>
      </ion-list>
      <a ui-sref="gUAUNLaR.cineClubUniversitario()" menu-close="" id="gUAUNLaR-button57" style="text-align:left;border-radius:10px 10px 10px 10px;" class="button button-energized button-block icon ion-android-exit"> Cine Club</a>
      <a ui-sref="gUAUNLaR.horariosDeClases()" menu-close="" id="gUAUNLaR-button58" style="text-align:left;border-radius:10px 10px 10px 10px;" class="button button-energized button-block icon ion-android-exit"> Horarios</a>
      <a ui-sref="gUAUNLaR.expoCarreras()" menu-close="" id="gUAUNLaR-button53" style="text-align:left;border-radius:10px 10px 10px 10px;" class="button button-energized button-block icon ion-android-exit"> Expo Carreras</a>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>