<ion-view title="Horarios de Clases" id="page181">
  <ion-content padding="true" style="background: url(img/6xEW7bZ0QBmZGZnv3SNm_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">HORARIOS DE CLASES DE LAS CARRERAS DE LAS UNLaR</span>
      </h4>
      <p style="text-align: center;">
        <span style="color: #ffffff;">Según se confirmen se irán actualizando en el menú de cada Departamento Académico.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="horariosDeClases-list36">
      <ion-item class="item-icon-left dark" id="horariosDeClases-list-item143" ui-sref="gUAUNLaR.horariosCsAplicadas()">
        <i class="icon ion-android-checkbox-outline"></i>Cs. Aplicadas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeClases-list37">
      <ion-item class="item-icon-left dark" id="horariosDeClases-list-item144" ui-sref="gUAUNLaR.horariosCsExactas()">
        <i class="icon ion-android-checkbox-outline"></i>Cs. Exactas, Físicas y Naturales</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeClases-list38">
      <ion-item class="item-icon-left dark" id="horariosDeClases-list-item145" ui-sref="gUAUNLaR.horariosCsHumanas()">
        <i class="icon ion-android-checkbox-outline"></i>Cs. Humanas y de la Educación</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="horariosDeClases-list39">
      <ion-item class="item-icon-left dark" id="horariosDeClases-list-item146" ui-sref="gUAUNLaR.horariosCsSociales()">
        <i class="icon ion-android-checkbox-outline"></i>Cs. Sociales, Jurídicas y Económicas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeClases-list21">
      <ion-item class="item-icon-left dark" id="horariosDeClases-list-item147" ui-sref="gUAUNLaR.horariosCsDeLaSalud()">
        <i class="icon ion-android-checkbox-outline"></i>Cs. de la Salud</ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
  </ion-content>
</ion-view>