<ion-view title="Horarios Cs. Exactas" id="page183" style="background-color:#FCFC90;">
  <ion-content padding="true" style="background: url(img/6xEW7bZ0QBmZGZnv3SNm_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/o6jk00xRTaJIcq4uMoZI_exactas-02.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="horariosCsExactas-list41">
      <ion-item class="item-icon-left positive" id="horariosCsExactas-list-item160" href-inappbrowser="https://drive.google.com/drive/folders/16eoTerrTarkKKMWYdRwPeuX24xzgnazw?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Bioquímica</ion-item>
      <ion-item class="item-icon-left positive" id="horariosCsExactas-list-item162" href-inappbrowser="https://drive.google.com/drive/folders/1Kp2tE8B4r2Wp70HqEZtpMeSEvxVdqKn9?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Farmacia</ion-item>
      <ion-item class="item-icon-left positive" id="horariosCsExactas-list-item163" href-inappbrowser="https://drive.google.com/drive/folders/1x1n_fyyLil12D_Ixq0lZsChZGv1YeoGn?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Ing. en Sistemas de Información</ion-item>
      <ion-item class="item-icon-left positive" id="horariosCsExactas-list-item164" href-inappbrowser="https://drive.google.com/drive/folders/1ftNhElvKYDJsfjHkg4mDSrdwgWqBkCAo?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Ing. Mecatrónica</ion-item>
      <ion-item class="item-icon-left positive" id="horariosCsExactas-list-item165" href-inappbrowser="https://drive.google.com/drive/folders/1coHAkRB1VJ72u48FzIdm_YEGJmhrJZae?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Ciencias Biológicas</ion-item>
      <ion-item class="item-icon-left positive" id="horariosCsExactas-list-item166" href-inappbrowser="https://drive.google.com/drive/folders/1LjPGkbBx9yetQJjvIHYXTsVvA6V44rNU?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Diseño y Prod. Multimedial</ion-item>
      <ion-item class="item-icon-left positive" id="horariosCsExactas-list-item167" href-inappbrowser="https://drive.google.com/drive/folders/1VMxXY9uLJFZ2MyUp8LyVVkCbqG6wx2bs?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Sistemas de Información</ion-item>
      <ion-item class="item-icon-left positive" id="horariosCsExactas-list-item168" href-inappbrowser="https://drive.google.com/drive/folders/1E2dwlhXPBol5GTuLMeAXDBR_yMuw06kp?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. en Biogenética</ion-item>
      <ion-item class="item-icon-left positive" id="horariosCsExactas-list-item169" href-inappbrowser="https://drive.google.com/drive/folders/1nksk-JUTDFbY7F3vMAk_E3Y1scTdr8AR?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. en Informática</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>