<ion-view title="Horarios Cs. Sociales" id="page185" style="background-color:#FFFFB3;">
  <ion-content padding="true" style="background: url(img/6xEW7bZ0QBmZGZnv3SNm_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ALMDR73TgOdhT5hXT9Oz_sociales-02.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="horariosCsSociales-list43">
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item297" href-inappbrowser="https://drive.google.com/drive/folders/1GksuU4mLbCoFj8SuQlo_JqnPQizMPcsK?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Abogacía</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item298" href-inappbrowser="https://drive.google.com/drive/folders/11djXNqRLEdH8fexj7m_rDo_bWWX9Ak7v?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Contador Público</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item299" href-inappbrowser="https://drive.google.com/drive/folders/1_VNzQ6qvoNh8BRgF32e6EDkk8jhyXu9S?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Escribania</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item300" href-inappbrowser="https://drive.google.com/drive/folders/1-9Scrf5N9hIi3DOofsSyKg3SXyC2iHyY?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Administración</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item301" href-inappbrowser="https://drive.google.com/file/d/17vp3r9bxXZ747w7ysRq4sZJJk-2O30BY/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Ciencia Política</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item302" href-inappbrowser="https://drive.google.com/drive/folders/1dAeK7fHYQt68kZyR9GACUcJTnuLcxOCq?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Comunicación Social</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item303" href-inappbrowser="https://drive.google.com/drive/folders/1ULfzZ42AL4g_YUtDeLJyjN5rgfHJIuJC?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Criminalística</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item304" href-inappbrowser="https://drive.google.com/drive/folders/1PnWh4xkseVSouMGhnASVKCDtX-Ce6HVx?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Economía</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item305" href-inappbrowser="https://drive.google.com/drive/folders/1xLHDOkjecrDCvtIQm1MlKQr6xCKdE7Fq?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Trabajo Social</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item306" href-inappbrowser="https://drive.google.com/drive/folders/1txOxqes8XOyw9xrW7i-5LFHEJwesXyoD?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Turismo</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item307" href-inappbrowser="https://drive.google.com/drive/folders/1dIcG__E5wiN07fIVqFH5SEADdI9qo0yD?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Turismo Ecológico</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item308" href-inappbrowser="https://drive.google.com/drive/folders/1IdOBB4_MaxyzN6JPDQz_3zgGavNRXFQx?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Procuración</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item309" href-inappbrowser="https://drive.google.com/drive/folders/1CYWQg9mQZIQ0v7rdXQmLUxYDqryqQiNE?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. de Comunicación Soc. para el Desarrollo</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item310" href-inappbrowser="https://drive.google.com/file/d/1bKcIUafKl6-YGUvxApZrht_R5k01NugF/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. de Guía de Turismo</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item311" href-inappbrowser="https://drive.google.com/file/d/1KCiFeb7HIDyhGtvooKbzEZ1OA7K768W9/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. de Seguridad Urbana </ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item312" href-inappbrowser="https://drive.google.com/drive/folders/14_BZbT9uHxPC8Hmc_kur6aLPZuVfOzKn?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. Tasador y Corredor Inmobiliario</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item313" href-inappbrowser="https://drive.google.com/file/d/1QP5zx7EoSBe_mNHmHuXeaKUItrS_FYzc/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. en Gestión y Administración Contable</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item314" href-inappbrowser="https://drive.google.com/drive/folders/1W0lLRLGcfZzIxh4ZPZslqkoYJsdl25Pa?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. Subastador y Martillero Público</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item315" href-inappbrowser="https://drive.google.com/drive/folders/1KqA2_UFf4z5YNqyziGFomMh2k5ZOvk_Y?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. en Gestión Jurídica</ion-item>
      <ion-item class="item-icon-left royal" id="horariosCsSociales-list-item316" href-inappbrowser="https://drive.google.com/file/d/1qnpiaLyv0vNzYrV18uTMlq_k2nESQn9H/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. en TV Digital</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>