<ion-view title="Horarios Cs. Humanas" id="page184" style="background-color:#FCFC90;">
  <ion-content padding="true" style="background: url(img/6xEW7bZ0QBmZGZnv3SNm_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/HDhGQm2R5aZ17VX1YIEQ_humanas-02.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="horariosCsHumanas-list42">
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item170" href-inappbrowser="https://drive.google.com/file/d/1tJ2DxvyJ8ofTv-zzpRyc6cfGpzrNOjLl/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Arte Escénico</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item171" href-inappbrowser="https://drive.google.com/drive/folders/1tEf5L8XfXe6xHkcQbmpQq-ZNy01Z96tQ?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Artes Plásticas</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item214" href-inappbrowser="https://drive.google.com/file/d/1_7eJJK0rvZPFK6YXbcuJvnUFVt6LQXSo/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Historia</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item246" href-inappbrowser="https://drive.google.com/file/d/1zUNQ202Be4EXJ830jMgE-DdmgNuHq1VE/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Lengua y Lit. Inglesa</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item247" href-inappbrowser="https://drive.google.com/drive/folders/1gekFYqLYEBc1VqcY5sdgK1_W88rrzkPY?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Lengua y Lit. Portuguesa</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item250" href-inappbrowser="https://drive.google.com/file/d/1QWuOAjKEUwhSEWKvPWuXvdhiMYe9DwOd/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Letras</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item256" href-inappbrowser="https://drive.google.com/drive/folders/1lapsd9oAJ3OJsA0zpcQMcMt08EiJLJKg?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Música</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item257" href-inappbrowser="https://drive.google.com/drive/folders/1GjSZWTSfkkMyOKCOs7JgtIjd0IM9c2nW?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Teología y Religiones Comparadas</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item264" href-inappbrowser="https://drive.google.com/file/d/1P1VuOtze_tRX1cPpn3h3ajcKSHn_3L4x/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Psicopedagogía</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item279" href-inappbrowser="https://drive.google.com/file/d/1haXMueNpBvu25S5Iiy0l_9esy2UHv4dA/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Gestión Org. y RR. HH.</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item281" href-inappbrowser="https://drive.google.com/file/d/1zUNQ202Be4EXJ830jMgE-DdmgNuHq1VE/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Traductorado en Lengua Inglesa</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item282" href-inappbrowser="https://drive.google.com/file/d/1_7eJJK0rvZPFK6YXbcuJvnUFVt6LQXSo/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Prof. en Historia</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item283" href-inappbrowser="https://drive.google.com/file/d/1QWuOAjKEUwhSEWKvPWuXvdhiMYe9DwOd/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Prof. en Letras</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item284" href-inappbrowser="https://drive.google.com/drive/folders/1IkVCp5f0mcINak_XhNPP-Th-lsE4PpWG?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Prof. en Artes Plásticas</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item285" href-inappbrowser="https://drive.google.com/file/d/1P1VuOtze_tRX1cPpn3h3ajcKSHn_3L4x/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Prof. en Psicopedagogía</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item294" href-inappbrowser="https://drive.google.com/file/d/1CGc4GWzz63jXZa4Q7DoRkv2h0O8hHVFY/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. en Bibliotecología</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item295" href-inappbrowser="https://drive.google.com/file/d/1zxbYRymRpyQEieEVvNtcqP5GR1gKZzaG/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. en Admin. de Doc. y Archivos</ion-item>
      <ion-item class="item-icon-left energized" id="horariosCsHumanas-list-item296" href-inappbrowser="https://drive.google.com/file/d/1zxbYRymRpyQEieEVvNtcqP5GR1gKZzaG/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. en Museologia</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>