<ion-view title="Horarios Cs. de la Salud" id="page186" style="background-color:#FCFC90;">
  <ion-content padding="true" style="background: url(img/6xEW7bZ0QBmZGZnv3SNm_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/YdD3DT9SgqkKrxjCstKg_salud-02.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="horariosCsDeLaSalud-list44">
      <ion-item class="item-icon-left balanced" id="horariosCsDeLaSalud-list-item317" href-inappbrowser="https://drive.google.com/drive/folders/1WKb6q8jnelWq2WzpkS2VDUhzkavut6tz?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left balanced" id="horariosCsDeLaSalud-list-item318" href-inappbrowser="https://drive.google.com/drive/folders/1jskW6QeYe9A2rimm8yRuDb4kFnAbmCMb?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Enfermería</ion-item>
      <ion-item class="item-icon-left balanced" id="horariosCsDeLaSalud-list-item319" href-inappbrowser="https://drive.google.com/drive/folders/1cVwE7W76YCTGoKFvA5d1e0Lowc4H8omu?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Lic. en Producción de Bioimágenes</ion-item>
      <ion-item class="item-icon-left balanced" id="horariosCsDeLaSalud-list-item320" href-inappbrowser="https://drive.google.com/drive/folders/15uKNZa1MRrFw9ruzG1QKxo-z1byU0s01?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Medicina</ion-item>
      <ion-item class="item-icon-left balanced" id="horariosCsDeLaSalud-list-item321" href-inappbrowser="https://drive.google.com/file/d/1E-SeQc_7307n7UerIVEztpF3uAyoKdPa/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Odontología</ion-item>
      <ion-item class="item-icon-left balanced" id="horariosCsDeLaSalud-list-item322" href-inappbrowser="https://drive.google.com/drive/folders/15zvtp-m-WvD68TdRgJ0r0ZACjXHjHXMZ?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left balanced" id="horariosCsDeLaSalud-list-item323" href-inappbrowser="https://drive.google.com/drive/folders/14zvfnHTDUpeeoc5MgwJo8ZMbXbqanfcG?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Téc. en Radiología y Terapia Radiante</ion-item>
      <ion-item class="item-icon-left balanced" id="horariosCsDeLaSalud-list-item324" href-inappbrowser="https://drive.google.com/file/d/1gCkzzbEIrX4h95sqW6nS9uZyb25tt0xJ/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Terapia Ocupacional</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>