<ion-view title="Horarios Cs. Aplicadas" id="page182" style="background-color:#FCFC90;">
  <ion-content padding="true" style="background: url(img/6xEW7bZ0QBmZGZnv3SNm_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bXcocgtRhKT2NnHLZD9a_aplicadas-02.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="horariosCsAplicadas-list40">
      <ion-item class="item-icon-left assertive" id="horariosCsAplicadas-list-item148" href-inappbrowser="https://drive.google.com/drive/folders/1IC7X8ECdbup8oY8YhumCD0x9be0bwAyj?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Arquitectura</ion-item>
      <ion-item class="item-icon-left assertive" id="horariosCsAplicadas-list-item149" href-inappbrowser="https://drive.google.com/file/d/1MC1Aik5pGppaSHhsQsAOigOxTN1zp3_6/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Geología</ion-item>
      <ion-item class="item-icon-left assertive" id="horariosCsAplicadas-list-item150" href-inappbrowser="https://drive.google.com/file/d/11gtrclTRUxMfQrFQ6d0-JWZh4Zxn6P-y/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Ing. Agronómica</ion-item>
      <ion-item class="item-icon-left assertive" id="horariosCsAplicadas-list-item151" href-inappbrowser="https://drive.google.com/file/d/1mc0Zpt8kPBIDPwXfhEZbpsZgPJDVVhew/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Ing. Agroindustrial</ion-item>
      <ion-item class="item-icon-left assertive" id="horariosCsAplicadas-list-item152" href-inappbrowser="https://drive.google.com/file/d/14yrpiY9mNJJFsjIFsAGq9cDyd6JBE04t/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Ing. Civil</ion-item>
      <ion-item class="item-icon-left assertive" id="horariosCsAplicadas-list-item153" href-inappbrowser="https://drive.google.com/file/d/1ENe0iidiRyhX4oFf1t7LMaLmP1qAabr_/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Ing. de Minas</ion-item>
      <ion-item class="item-icon-left assertive" id="horariosCsAplicadas-list-item157" href-inappbrowser="https://drive.google.com/file/d/1RRKJ5D2iNGO3xvEow72ZYhuDPhUTw1Jc/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Ing. en Alimentos</ion-item>
      <ion-item class="item-icon-left assertive" id="horariosCsAplicadas-list-item158" href-inappbrowser="https://drive.google.com/file/d/1XOeBRocoJBt75aBbgS6uKkPmg3HoP5f-/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Ing. Industrial</ion-item>
      <ion-item class="item-icon-left assertive" id="horariosCsAplicadas-list-item159" href-inappbrowser="https://drive.google.com/file/d/1KMkFfZMH-uNxz3gwSOBODYPJSmkkShLT/view?usp=sharing">
        <i class="icon ion-ios-calendar-outline"></i>Tec. Electro-Electrónica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>