<ion-view title="Movilidad Estudiantil" id="page180">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/4xPlC3vnRnWr1LCwVHgM_BecasCRISCOS19.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>El&nbsp;
        <em>Programa de Movilidad Estudiantil</em> tiene como objetivo establecer normas, organización y procedimientos para facilitar la movilidad estudiantil entre distintas universidades de&nbsp;latinoamerica.</p>
      <p>Estas Becas de Intercambio tienen el propósito de que los estudiantes puedan cursar un cuatrimestre en una universidad de las que pertenecen a CRISCOS, un organismo subregional, sin fines de lucro, conformado por las universidades de Argentina,
        Bolivia, Chile, Paraguay y Perú.</p>
      <p>Para mayor información dirigirse por la Secretaría de Relaciones Internacionales o a través del correo electrónico
        <em>relacionesinternacionales@unlar.edu.ar</em>
      </p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>