<ion-view title="Reglamento de Estudiantes" id="page37">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <p>El
      <span style="color: #ff6600;">&nbsp;
        <strong>Reglamento de Estudiantes</strong>
      </span>&nbsp;es el encuadre institucional que determina los derechos y deberes de los estudiantes de la UNLaR. En este documento encontrarás toda la info sobre el mecanismo de ingreso a la institución, las evaluaciones parciales, exámenes finales, pases
      y equivalencias entre otras temáticas muy útiles sobre los derechos y garantías institucionales que posee el estudiante.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" href-inappbrowser="https://play.google.com/store/apps/details?id=com.MarcosNieto.ReglamentoEstudiantesUNLaR">
        <img src="img/HK9V10qS2KVd393Sat1D_Regl.deEstudiantes700.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>