<ion-view title="Requisitos de Ingreso" id="page16">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/dpwtBrChTyqoF2t43Brq_Inscripciones2020.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div>
      <p>Los interesados en cursar las carreras que ofrece la Universidad Nacional de La Rioja podrán inscribirse de manera online entre el 28 de Noviembre del corriente año y el 7 de Febrero de 2020; mientras que la documentación solicitada podrá presentarse
        hasta la última semana de diciembre y durante la primera semana de febrero de 2020.</p>
      <p>&nbsp;</p>
    </div>
    <div>
      <h4>
        <span style="color: #ff6600;">REQUISITOS PARA INGRESO A CARRERAS DE PRE-GRADO Y GRADO</span>
      </h4>
      <p>Los aspirantes a ingresar en una Carrera de Grado o pregrado de la UNLaR, deberán registrarse en el sistema de inscripción online,&nbsp;generando una cuenta de usuario.</p>
      <p>Posteriormente deberán completar el Formulario de pre-inscripción, ingresando con el usuario y contraseña que hayan elegido.</p>
      <p>&nbsp;</p>
      <p>
        <strong>Requisitos para Solicitud de Inscripción</strong>
      </p>
      <p>
        <span style="color: #ff6600;">*</span>Fotocopia del DNI</p>
      <p>
        <span style="color: #ff6600;">*</span>Fotocopia de la Partida de Nacimiento</p>
      <p>
        <span style="color: #ff6600;">*</span>Tres fotos 4×4 (tres)</p>
      <p>
        <span style="color: #ff6600;">*</span>Título del Secundario o Título del Nivel Medio o Constancia de Título en trámite (sin adeudar materias).</p>
      <p>
        <span style="color: #ff6600;">*</span>Certificado de Domicilio</p>
      <p>
        <span style="color: #ff6600;">*</span>Carga de Formulario de pre-inscripción (link más abajo), y realiza una copia impresa una vez completado.</p>
      <p>
        <span style="color: #ff6600;">*</span>Aspirantes mayores de 25 años que no terminaron el secundario, presentar Certificado Analítico de Estudios</p>
      <p>
        <span style="color: #ff6600;">*</span>Primarios y Certificado de Trabajo acorde a la carrera elegida. Ley Educación Superior 24.521 art. 7.</p>
      <p>
        <span style="color: #ff6600;">*</span>Carpeta Colgante</p>
      <p>
        <br>
        <span style="color: #3366ff;">**</span>Acudir con los originales de todas las fotocopias para su correspondiente certificación.
        <span style="color: #3366ff;">**</span>
      </p>
      <p>
        <span style="color: #3366ff;">**</span>Se debe presentar toda la documentación en Oficina de Alumnos
        <span style="color: #3366ff;">**</span>
      </p>
      <p>
        <span style="color: #3366ff;">**</span>Si tenes dudas del trámite poder acudir a la Secretaría Estudiantil (SAE)
        <span style="color: #3366ff;">**</span>
      </p>
    </div>
    <a href-inappbrowser="http://ingreso.unlar.edu.ar/" id="requisitosDeIngreso-button34" style="border-radius:10px 10px 10px 10px;" class="button button-energized button-block">Formulario de pre-inscripción</a>
    <a href-inappbrowser="https://www.google.com.ar/maps/place/Oficina+de+Alumnos/@-29.4305285,-66.8690921,150m/data=!3m1!1e3!4m11!1m5!8m4!1e4!2s102256774888265971555!3m1!1e1!3m4!1s0x9427db2b132b33bd:0xb702c69110e0c2ce!8m2!3d-29.4304695!4d-66.8687696?hl=es-419&amp;authuser=0"
      id="requisitosDeIngreso-button12" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-small button-block icon ion-location"> Oficina de Alumnos</a>
    <a href-inappbrowser="https://www.google.com.ar/maps/place/SAE+General/@-29.429891,-66.8691398,150m/data=!3m1!1e3!4m11!1m5!8m4!1e4!2s102256774888265971555!3m1!1e1!3m4!1s0x9427dbabb17a7c0f:0x6b6c8d47961676e0!8m2!3d-29.429726!4d-66.86883?hl=es-419&amp;authuser=0"
      id="requisitosDeIngreso-button51" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-small button-block icon ion-location"> Secretaría Estudiantil</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">REQUISITOS PARA INGRESO A CARRERAS DE PRE-GRADO Y GRADO PARA EXTRANJEROS</span>
      </h4>
      <p>&nbsp;</p>
      <p>1). Fotocopia DNI Argentino o (Pasaporte, DNI o Cédula del país de origen).</p>
      <p>2). Fotos 4×4 (3).</p>
      <p>3). Carpeta Colgante.</p>
      <p>4). Certificado de Domicilio.</p>
      <p>5). Fotocopia de Partida de Nacimiento.</p>
      <p>6). Título del Secundario o Título del Nivel Medio, debidamente Convalidado o Reconocido en la Argentina.</p>
      <p>7).&nbsp; Los estudiantes cuya lengua materna no sea el Idioma Español, deberán acreditar suficiencia de la Lengua Española hasta el día 30 de abril del año respectivo, a través de las siguientes alternativas:</p>
      <p>* Certificado de examen CELU, del Consorcio ELSE&nbsp;(
        <a href="http://www.celu.edu.ar/" target="_blank" rel="noopener">http://www.celu.edu.ar/</a>),&nbsp;o</p>
      <p>* Aprobación del examen respectivo instrumentado en la UNLaR.</p>
      <p>8). Impresión del Formulario de Inscripción, completo con los datos del solicitante&nbsp;&nbsp;&nbsp;(
        <a href="http://ingreso.unlar.edu.ar/" target="_blank" rel="noopener">http://ingreso.unlar.edu.ar</a>).</p>
      <p>-Los Requisitos&nbsp;
        <strong>5 y 6</strong>, deberán reunir las siguientes condiciones:</p>
      <p>
        <strong>A</strong>: Ser extendido por la autoridad oficial del país de origen.</p>
      <p>
        <strong>B</strong>: La documentación y certificados redactados&nbsp; en idioma extranjero deberán ser traducidos&nbsp; al idioma español (por Traductor Matriculado en Provincia de La Rioja), Ley N° 20.305 Art. 6º y Ley 7.179.</p>
      <p>
        <strong>C:</strong>&nbsp;En toda documentación, referida al solicitante que provenga del extranjero, debe figurar su documento de identidad emitido en el país de origen; y deberá estar&nbsp;
        <strong>
          <em>legalizada</em>
        </strong>&nbsp;por el Ministerio de Educación, el Ministerio de Relaciones Exteriores de ese país, y autenticado por el Consulado o Embajada Argentina en ese país y el Ministerio de Relaciones Exteriores y Culto de nuestro País.</p>
      <p>Para el caso que esa documentación provenga de un País que es parte o adhirió a la&nbsp;
        <em>Convención de La Haya&nbsp;</em>del 5 de Octubre de 1961 (Ley N° 23.458), la&nbsp;
        <strong>
          <u>legalización se encuentra simplificada</u>
        </strong>&nbsp; y la misma&nbsp;
        <strong>
          <u>podrá</u>
        </strong>&nbsp;estar realizada por el Ministerio de Educación y “Apostillado” por el Ministerio de Relaciones Exteriores de ese país&nbsp; o autoridad competente.</p>
      <p>
        <strong>D</strong>:&nbsp;
        <u>Convalidación o Reconocimiento del Título Secundario o Título de Nivel Medio (Ord. N°108/17</u>: El Aspirante debe presentar, al momento de su inscripción, la convalidación o reconocimiento de su Titulo Secundario expedido en el extranjero.</p>
      <p>
        <strong>
          <u>Nota</u>
        </strong>
        <strong>:</strong>&nbsp;La certificación o reconocimiento de títulos secundario plantea las siguientes particularidades:</p>
      <ol>
        <li>
          <strong>a)</strong>&nbsp;Si el aspirante procede de países con convenio, o es&nbsp;
          <strong>argentinos nativos e hijos de argentinos&nbsp;</strong>que realizaron estudios en países sin convenio, deben&nbsp;
          <strong>convalidar&nbsp;</strong>el certificado analítico de estudios completos de nivel medio ante el Ministerio de Educación, Cultura, Ciencia y Tecnología de la Nación (
          <a href="http://www.argentina.gob.ar/educacion/validez-nacional-de-titulos" target="_blank"
            rel="noopener">argentina.gob.ar/educacion/validez-nacional-de-titulos</a>).</li>
        <li>
          <strong>b)</strong>&nbsp;Si el aspirante proviene de países que no tienen convenio de reconocimiento de títulos secundario con nuestro país, deberán rendir satisfactoriamente las asignaturas de Formación Nacional (según Resolución Ministerial N° 2202/2013),
          y continuar el trámite de reconocimiento ante el Ministerio de Educación, Cultura, Ciencia y Tecnología de la Nación&nbsp;(
          <a href="http://www.argentina.gob.ar/educacion/validez-nacional-de-titulos" target="_blank" rel="noopener">argentina.gob.ar/educacion/validez-nacional-de-titulos</a>).</li>
      </ol>
      <ul>
        <li>
          <strong>
            <u>Atención</u>
          </strong>
          <strong>:</strong>&nbsp;Las inscripciones se realizarán de manera&nbsp;
          <strong>
            <u>PERSONAL</u>
          </strong>, con toda la documentación requerida. En caso de no poder comparecer personalmente, el trámite lo podrá realizar un&nbsp;
          <strong>
            <u>Representante o Apoderado</u>
          </strong>, en cuyo caso deberá acreditar ese carácter con el instrumento público correspondiente (Poder), o Carta Poder con firma autenticada por autoridad judicial o policial o por Escribano Público. (Art. 59 Manual de Procedimientos y Trámites Administrativos
          – Art. 32 del Decreto N° 1759/72).</li>
      </ul>
      <p>En ese alcance, se recuerda que el instrumento que acredite la personería invocada debe contener las facultades para inscripción, presentación de documentación y retiro de la misma. Además, el Representante o Apoderado deberá presentar copia del
        mismo, autenticada por autoridad competente de UNLaR (Secretaría General de Rectorado), a los fines de su incorporación en el legajo del aspirante alumno.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href-inappbrowser="http://ingreso.unlar.edu.ar/" id="requisitosDeIngreso-button35" style="border-radius:10px 10px 10px 10px;" class="button button-energized button-block">Formulario de pre-inscripción</a>
    <a href-inappbrowser="https://www.google.com.ar/maps/place/Oficina+de+Alumnos/@-29.4305285,-66.8690921,150m/data=!3m1!1e3!4m11!1m5!8m4!1e4!2s102256774888265971555!3m1!1e1!3m4!1s0x9427db2b132b33bd:0xb702c69110e0c2ce!8m2!3d-29.4304695!4d-66.8687696?hl=es-419&amp;authuser=0"
      id="requisitosDeIngreso-button50" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-small button-block icon ion-location"> Oficina de Alumnos</a>
    <a href-inappbrowser="https://www.google.com.ar/maps/place/SAE+General/@-29.429891,-66.8691398,150m/data=!3m1!1e3!4m11!1m5!8m4!1e4!2s102256774888265971555!3m1!1e1!3m4!1s0x9427dbabb17a7c0f:0x6b6c8d47961676e0!8m2!3d-29.429726!4d-66.86883?hl=es-419&amp;authuser=0"
      id="requisitosDeIngreso-button52" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-small button-block icon ion-location"> Secretaría Estudiantil</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>